@{
    ViewData["Title"] = "AllCountries";
}
<br />
<button class="btn btn-dark offset-11" onclick="Logout()">Logout</button>
<div class="text-center">
    <!-- Button HTML (to Trigger Modal) -->
    <a href="#myModal" class=" btn btn-success" data-toggle="modal">Add Country</a>
</div>
<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    <div class="form-group">
                        <input type="text" id="countryName" class="form-control" placeholder="CountryName" required="required">
                    </div>
                    <div class="form-group">
                        <input type="text" id="languageName" class="form-control" placeholder="LanguageName" required="required">
                    </div>
                    <div class="form-group">
                        <input type="button" onclick="Create()" class="btn btn-success btn-block btn-lg" value="Create">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<table id="Table" class="table tab-content">
</table>
<br />
<div class="Update">
    <form>
        <div class="form-group">
            <input type="text" id="countryNameUpdate" class="form-control col-6" placeholder="CountryName" required="required">
        </div>
        <div class="form-group">
            <input type="text" id="languageNameUpdate" class="form-control col-6" placeholder="LanguageName" required="required">
        </div>
        <div class="form-group">
            <button type="button" onclick="Update()" class="btn btn-success col-3 ">Update</button>
        </div>
    </form>
</div>
@section Scripts{
    <script>
        $(function () {
            $(".Update").hide();
            //GetAllCountries
            $('#Table').dataTable({
                ajax: {
                    url: "https://demotestapi.catalist-me.com/api/Country/GetAllCountries",
                    dataSrc: "response.countries",
                    headers: {
                        "Authorization": "Bearer " + localStorage.getItem("UserToken")
                    }
                },
                columns: [
                    { "title": "Id", "data": "id" },
                    { "title": "CountryName", "data": "countryName" },
                    { "title": "LanguageName", "data": "languageName" },
                    { "title": "Update", "data": "update", render: () => " <button class='btn btn-success'>Update</button>" },
                    { "title": "Delete", "data": "delete", render: () => " <button class='btn btn-danger' >Delete</button>" }
                ]
            })
            //Delete Country
            $('#Table').on('click', 'tr td:nth-child(5)', function () {
                var Id = $('#Table').DataTable().row(this).data().id;
                $.ajax({
                    url: "https://demotestapi.catalist-me.com/api/Country/DeleteCountry?CountryID=" + Id,
                    method: 'Delete',
                    headers: {
                        "Authorization": "Bearer " + localStorage.getItem("UserToken")
                    },
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: () => {
                       window.location.href = '@Url.Content("~/Home/AllCountries")';
                    },
                })
            })
            //Show Div Update Country
            $('#Table').on('click', 'tr td:nth-child(4)', function () {
                 data = $('#Table').DataTable().row(this).data();
                 $("#countryNameUpdate").val(data.countryName);
                 $("#languageNameUpdate").val(data.languageName);
                 $(".Update").show();
             })
        })
        //Create Country
        function Create() {
            $.ajax({
                url: "https://demotestapi.catalist-me.com/api/Country/AddCountry",
                method: "Post",
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem("UserToken")
                },
                contentType: "application/ json; charset = UTF - 8",
                dataType: "json",
                data: JSON.stringify({
                    countryName: $('#countryName').val(),
                    languageName: $('#languageName').val()
                }),
                success: (data) => {
                    window.location.href = '@Url.Content("~/Home/AllCountries")';
                },
                error: (err) =>
                    console.log("error", err)
              })
        }

        //Update Country
        function Update() {
            $.ajax({
                 url: "https://demotestapi.catalist-me.com/api/Country/UpdateCountry",
                method: 'Post',
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem("UserToken")
                },
                contentType: 'application/json; charset=utf-8',
                 dataType: 'json',
                 data: JSON.stringify({
                     countryName: $('#countryNameUpdate').val(),
                     languageName: $('#languageNameUpdate').val(),
                     countryID: data.id,
                     active: true
                 }),
                success: (res) => {
                   window.location.href = '@Url.Content("~/Home/AllCountries")';
                 },
                 error: (err) =>
                    console.log("error:", err)
            })
        }
        //Logout
        function Logout() {
            localStorage.clear();
            window.location.href = '@Url.Content("~/Home/Index")';
        }
    </script>
}